# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    commit-message:
      prefix: 'chore: '
    ignore:
      # eslint's CLI changed a lot in eslint@9. Staying on eslint@8 for now.
      - dependency-name: 'eslint'
        update-types: ['version-update:semver-major']

    # Do not get one pull request per version bump. Instead get one pull request
    # bumping several dependency versions at once:
    groups:
      all-deps:
        patterns:
          - '*'

  - package-ecosystem: 'npm'
    directory: '/example'
    schedule:
      interval: 'weekly'
    commit-message:
      prefix: 'chore: '

    # Do not get one pull request per version bump. Instead get one pull request
    # bumping several dependency versions at once:
    groups:
      all-deps:
        patterns:
          - '*'
